<!DOCTYPE html>
<html>
<head>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head> 
<body>
	<% include ./head %>
	<div class="wrapper">
		<div class="add-section">
			<h5>Add a card</h5>
			<form action="/cards/<%= card.id %>/editComplete" method="POST">
				<label>Title *</label>
				<input type="text" name="title" class="add-title" value="<%= card.title %>">
				<label>Content</label>
				<textarea type="text" name="content" class="add-content"><%= card.content %></textarea>
				<br>
				<label>Tags</label><input type="text" name="tags"  class="add-tags" placeholder="comma seperated, maximum three" value="<%= card.tags %>">
				<br>
				Category
				<select name="category" class="category-select"></select>
				SubCategory
				<select name="subcategory" class="subcategory-select">
					<option value="">Select a category</option>
				</select>
				<br>
				<button type="submit">Add</button>
			</form>
		</div>
	</div>
	<script src="./../../javascripts/main.js"></script>
</body>
</html>
